.dark {
  --color-primary: #f15a24;
  --color-green: #81b649;

  --color-bg-primary: #2d3748;
  --color-bg-secondary: #283141;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
}

.light {
  --color-primary: #ff8c00;
  --color-green: #2b8615;

  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
}

:root {
  --color-primary: #ff8c00;

  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
};

@tailwind base;

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply w-full rounded-md py-3 border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 dark:bg-black-900 dark:border-black-200 dark:focus:ring-grayNormal-800  dark:focus:border-grayNormal-600;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply rounded-sm shadow-sm mr-2 text-primary focus:ring-primary dark:bg-black-900 dark:border-black-200 dark:ring-offset-black-900 dark:checked:bg-primary
  }

  button {
    @apply text-lg flex font-medium justify-center items-center rounded-md text-primary focus:outline-none border-primary border-2 hover:text-white hover:bg-primary dark:hover:text-black-0
  }
}

@tailwind components;

@layer components {
  input.error {
    @apply border-red-500 dark:border-red-500
  }
  input.success {
    @apply border-green-700 dark:border-green-600
  }
}

@tailwind utilities;